@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: url("https://firebasestorage.googleapis.com/v0/b/templo-monte-horeb.appspot.com/o/photos%2Fbg-body.svg?alt=media&token=50ef0fc5-9a00-449a-b45d-c650d1f2c6f0");
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.lobster-regular {
  font-family: "Lobster", sans-serif !important;
  font-weight: 400;
  letter-spacing: 8px;
  font-style: normal;
 
}

.text-shadows{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}


.logo-shadow{
  filter: drop-shadow(0 0 10px rgb(0, 0, 0, .8));
}


.link-underline {
 
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}



  .titles{
    /* color: #a09a6a; */
    opacity: 0.8;
    line-height: 1;
    padding: 0;
    text-shadow: -1px -1px 1px transparent, 1px 1px 1px #000;
  }

  .border-black{
    /*border white with light shadow*/
    text-shadow: 
       1px   0  0   #000, 
      -1px   0  0   #000, 
       0    1px 0   #000, 
       0   -1px 0   #000, 
       1px  1px 0   #000, 
      -1px -1px 0   #000, 
       1px -1px 0   #000, 
      -1px  1px 0   #000,
       1px  1px 5px #000;
  }